*{
	margin:0;
	padding: 0;
	outline: none;
	font-family: 'helvetica', sans-serif;

	
}
/*This is the part for contact form styling*/

.signup-body{
	position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  max-width: 350px;
  width: 100%;
 
  border-radius: 5px;
  
  
}
.signup-body table
        {
			padding: 0;
		color:black;
		background-color: white;
		border-radius:20px;
		box-shadow: 4px 4px 5px rgba(254,236,164,1);
        }
        
.signup-body #button
        {
			border: 0px;
			margin-top: 0 auto;
			padding: 10px;
			text-align: center;
			width: 100%;
			background: #e25822;
			color: #332902;
			text-transform: uppercase;
			letter-spacing: 5px;
			font-weight: bold;
			border-radius: 25px;
			cursor: pointer;
		}
		.signup-body h2{
			text-align: center;
  
  
  letter-spacing: 3px;
  color: #332902;
		}
.wrapper{
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 4px 4px 5px rgba(254,236,164,1); 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 0 auto;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #e25822;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #ff9cea;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
/*THis is the end for contact form*/
/*this is body of menu page*/
.menu-body{
	width: 1120px;
	height: 100vh;
	margin: 0 auto;
	font-size: 22px;
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8))
	, url(backchef.jpg);
	
	background-position: center;
	background-size: cover;
	
	background-repeat: no-repeat;
  background-attachment: fixed;
	position: relative;
	overflow-x: hidden;
}
/*this is the body of about page*/
.about-body{
	width: 1120px;
	height: 100vh;
	margin: 0 auto;
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8))
	, url(aboutbackground.jpg);
	
	background-position: center;
	background-size: cover;
	
	background-repeat: no-repeat;
  background-attachment: fixed;
	position: relative;
	
	overflow-x: hidden;
}
/*this is the start of navigation bar of all 3 pages*/
.nav-bar{
	display: flex;
	padding: 40px 120px;
	position: fixed;
	z-index: 15;
}

.nav-logo img{
	position: relative;
	left: 20px;
}
.nav-links ul{
	margin-left: 50px;
	display: inline;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 25px;
}
.nav-links ul a{
	color: #e25822;
	text-decoration: none;
	font-size: 13px;
}

.nav-links ul li::after{
	content: '';
	width: 0;
	height: 2px;
	background: #e25822;
	display: block;
	margin: auto;
	transition: .5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
/*button of nav bar*/
.nav-links .btn{
	float: right;
	position: relative;
	left: 20px;
		
		padding: 10px 20px;
		border:0;
		background: #e25822;
		font-weight: bold;
		
	
}
.nav-links .btn a{
	text-decoration: none;
	font-weight: bold;
	color: #332902;
}
/*left bar with social icons*/
.vertical-bar{
height: 100vh;
background: #000;
border-right: 2px solid #e25822;

position: fixed;
}


.search-icon{
	height: 60vh;
	width: 80px;
	margin-right: -2px;
}

.social-icons{
	height: 40vh;
	width: 80px;
	background: #e25822;
	text-align: center;
	padding-top: 27%;
	bottom: 0;
	position: absolute;
}
.social-icons a {
	margin: 15px 23px;
	text-decoration: none;
	color: black;
	display: block;
	padding: 8px;
	border: 1px solid #000;
	border-radius: 50%;
	cursor: pointer;
	font-size: large;
}
.nav-bar .fa{
	font-size: 22px;
}
/*this marks the end of navigation bar styling*/

/*this is for menu contents*/
.soupbox,.saladbox,.maincoursebox,.winesbox,.dessertbox{
	color: white;
	position: relative;
	top: 200px;
	padding: 30px;
	text-align: center;
}
.soupbox,.maincoursebox{
	float: left;
	position: relative;
	left: 100px;
	

}
.specials h1{
	position: relative;
	color: white;
	top: 170px;
	text-align: center;
}
/*footer of menu and contact*/
.menu-footer, .contact-footer,.about-footer{
	font-size: 22px;
	position: relative;
	left: 150px;	
	color: white;
}
.contact-footer{
	
	top: 350px;
	
}

.about-footer{
	top: 410px;
}
.menu-footer{
	top: 240px;
}
.address{
	width: 20%;
	border-right: 2px solid white;
	float: left;
}
.openinghrs{
	width: 25%;
	position: relative;
	left: 50px;
	border-right: 2px solid #e25822;
	float: left;
	color: #e25822;
}
.contact{
	width: 30%;
	float: left;
	position: relative;
	left: 100px;
}
.about-content{
	width: 70%;
	top: 250px;
	position: relative;
	margin: 0 auto;
	padding: 10px;
	color: white;
	font-size: 22px;
	letter-spacing: 2px;
}
.about-content span{
	color: #e25822;
}
@media(max-width: 950px){
	.wrapper{
		top: 40%;
	}
	.soupbox{
		float: none;
		left: 0;
	}
	.maincoursebox{
		float: none;
		left: 0;
	}
	.menu-body{
		width: 100%;
		margin:0 auto;
	}
	.about-body{
	width: 100%;
	margin:0 ;
	height: 100vh;
	}
	
	.vertical-bar{
		position: fixed;
	}
	.about-content{
		margin-left: 100px;
		top: 20px;
		padding: 0px;
	}
	.nav-bar{
		padding: 20px 100px;
		position: relative;
	}
	.fa-bars{
		position: absolute;
		right: 20px;
		top: 10px;
	}
	.nav-bar .fa{
		display: block;
		color: #e25822;
		margin: 10px 25px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links{
		height: 100vh;
		width: 200px;
		background: #000;
		border-left: 2px solid #e25822;
		border-bottom:2px solid #e25822;
		top: 0;
		right: -200px;
		position: absolute;
		text-align: left;
		z-index: 2;
		transition: 0.5s;
	}
	.nav-links ul{
		float: left;
		margin: 4px;
	}
	.nav-links ul a{
		display: block;
	}
	.nav-links .btn{
		float: none;
		position: relative;
		left: 25px;
		margin-left: 25px;
		margin-top:10px; 
	}
	.address,.openinghrs,.contact{
		float: none;
		left: 0;
		top: 0px;
		padding: 25px;
		border-right: none;
		border-top:2px solid white;
	}
	.openinghrs{
		border-color: #e25822;
	}
	.about-footer{
		top:80px;
	}
	
}
@media(max-width: 640px){
	.vertical-bar{
		display: none;
	}
	.address,.openinghrs,.contact{
		position: relative;
		left: -120px;
	}
}
@media(max-width: 300px){
	.vertical-bar{
		display: none;}
	.nav-logo{
		position: relative;
		left: -100px;
	}
	.about-content{
		left: -70px;
	}
}

 span{
	color: #e25822;
}




